<div class="row">
  <div class="col-md-4"> 
    <h2 class="text-center"><%= @list.title if @list.title %></h2>
    <h5 class="text-center"><%= @list.description if @list.description %></h5>
    <%= render partial: 'items/item', locals: { list: @list } %>
 
    <%= render partial: 'items/form', locals: { list: @list } %>
  </div>
</div>